<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="vue.js"></script>
    <title>Practice5</title>
</head>

<body>
    <div id="app">
        <h1>{{ message }}</h1>
        <input type="text" v-model="message" placeholder="Write something..." />
    </div>
    <div id="app2">
        <h1>{{ message }}</h1>
        <input type="text" v-model.lazy="message" />
        <!--waits the confirm to render-->
    </div>
    <div id="app3">
        <h1>Count: {{ count }}</h1>
        <button @click="countUp">Count Up</button>
        <button @click="countDown">Count Down</button>
    </div>
    <div id="app4">
        <h1>{{ message }}</h1>
        <p>
            Visit:
            <a :href="url">{{cleanUrl}}</a>
        </p>
        <input type="text" class="form-control" v-model="url" />
        <button @click="humanizeUrl">Humanize Me!</button>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue World'
            }
        })
        var app2 = new Vue({
            el: '#app2',
            data: {
                message: 'Hello Vue World'
            }
        })
        var app3 = new Vue({
            el: '#app3',
            data: {
                count: 0
            },
            methods: {
                countUp: function () {
                    this.count += 1
                },
                countDown: function () {
                    this.count -= 1
                }
            }
        })
        var app4 = new Vue({
            el: '#app4',
            data: {
                message: 'Type a URL to humanize',
                url: "",
                cleanUrl: ""
            },
            methods: {
                humanizeUrl: function () {
                    this.cleanUrl = this.url.replace(/^https?:\/\//, '').replace(/\/$/, '')
                }
            }
        })
    </script>
</body>

</html>